/* navigation  */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}

/* home section  */
#home{
    height: 370px;
    padding: 3px 68px;
    padding-bottom: 8px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 15px;
}

/* services section  */
#services{
flex-direction: column;

}
#services p{
font-size: 15px;
}
#services h2{
font-size: 30px;
}

/* clients section  */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 161px;   
    padding: 20px;
    height: auto;
}

/* contact us section  */

#contact-box form{
width: 60%;
}
/* footer  */

/* utility classes  */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}